@use "sass:list";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

@function text-border($size, $color) {
	$return-value: ();
	
	@for $i from $size * -1 through $size {
		@for $j from $size * -1 through $size {
			$value: #{$i $j $color};
			$return-value: list.join($return-value, $value, $separator: comma);
		}
	}
	
	@return $return-value;
}

body {
	background-color: #000000;
}

canvas {
	font-family: "Open Sans", sans-serif;
}

.game-ui-button {
	$background-color: #ffeb0f;
	$border-color: #c97200;
	color: #ffffff;
	text-shadow: text-border(2px, $border-color);
	background-color: $background-color;
	border: 0;
	border-radius: 15px;
	box-shadow: 0px 0px 0px 0px lighten($background-color, 10%);
	box-sizing: border-box;
	user-select: none;
	&:focus {
		animation: game-ui-button-active 128ms linear infinite;
	}
	@keyframes game-ui-button-active {
		0% {
			box-shadow: 0px 0px 0px 4px lighten($background-color, 10%);
		}
		50% {
			box-shadow: 0px 0px 0px 8px lighten($background-color, 50%);
		}
		100% {
			box-shadow: 0px 0px 0px 4px lighten($background-color, 10%);
		}
	}
}

.game-ui-text {
	user-select: none;
	pointer-events: none !important;
}
